.righthead{
        padding-right: 150px;
        
        i{
            cursor: pointer;
            font-size: 25px;
            margin: 0 10px;
        }
        
        img{
            cursor: pointer;  
            margin: 0 10px;   
        }
    }
    .headercolor{
        background-color: white;
    }


