#rightAside{
    .card{
        .right-boxes {
            background-color: white;
            .card-img{
                height: 115px;
                width: 115px;
            }
        }
        .card-header{
            background-color: white;
        }
    }
}